# ViperX Public Environment Variables
NEXT_PUBLIC_RUNTIME_PUBKEY=2EaDP5DHuPsaAZiSuXUvRtCJFStRFwCpamXapUcvWGLq
NEXT_PUBLIC_BASE_REGISTRY_ADDRESS=0xA256D01Ca6e89c5B6bDf34F3dd68eBfF47f2C7ee
NEXT_PUBLIC_LEADERBOARD_API_URL=http://localhost:4000
